section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-size: cover;
}

.stats {
    display:grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    filter: drop-shadow(10px 10px 10px black);

}
.stats > div {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
}

/* Section for Map and Vertical Stats*/

.live-map {
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 9;
}
.top-geolocation-vert {
    grid-row: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}
.top-ports-vert {
    grid-row: 2;
    grid-column-start: 6;
    grid-column-end: 7;
}
.top-services-vert {
    grid-row: 2;
    grid-column-start: 7;
    grid-column-end: 8;
}
.top-proto-vert {
    grid-row: 2;
    grid-column-start: 8;
    grid-column-end: 9;
}


/* Section for Pie Charts*/
.top-geolocation-pie {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
.top-ports-pie {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}
.top-usernames-pie {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.top-passwords-pie {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}